{% extends "layouts/base.html" %} {% block title %} Sales Performance Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<link rel="stylesheet" href="/static/assets/plugins/chart-morris/css/morris.css">

{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Purchases Performance Dashboard</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Purchases Performance</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    <div class="card h-100 p-3">
            <div class="overflow-hidden position-relative border-radius-lg bg-cover h-100" style="background-image: url('/static/assets/images/widget/front2.jpg'); ">
              <span class="mask bg-gradient-dark"></span>
              <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
                <h5 class="text-white font-weight-bolder mb-4 pt-2">Overview On Purchases</h5>
                <p class="text-black-50  font-weight-bold mb-lg-2 pt-6">Explore the general information on the sale of fact that summarizes the most prominent measures and the different elements involved.
                    We will find here the different Categories of  items, Evaluation of revenue over time, </p></div>
                  <div class="container-fluid py-4">
                  </div>
            </div>
 </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!--[ year  sales section ] starts-->
                    <div class="col-md-4 col-xl-3">
                        <div class="card yearly-sales">
                            <div class="card-block">
                                <h5 class="mb-4 font-weight-bold">Total Sales</h5>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                class="feather  icon-activity text-c-green f-30 m-r-10"></i>{{ total_sales }}
                                            TND </h3>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <!--[ year  sales section ] end-->
                    <!--[ Monthly  sales section ] starts-->
                    <div class="col-md-4 col-xl-3">
                        <div class="card Monthly-sales">
                            <div class="card-block">
                                <h5 class="mb-4 font-weight-bold">Monthly Purchases</h5>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>$ 2.942.32
                                        </h3>
                                    </div>
                                    <div class="col-3 text-right">
                                        <p class="m-b-0">36%</p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 35%;"
                                        aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ Monthly  sales section ] end-->

                    <!--[ Monthly target ] starts-->
                    <div class="col-md-4 col-xl-3">
                        <div class="card monthly-target">
                            <div class="card-block">
                                <h5 class="mb-4 font-weight-bold">Monthly Target</h5>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>$ 2.942.32
                                        </h3>
                                    </div>
                                    <div class="col-3 text-right">
                                        <p class="m-b-0">36%</p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 35%;"
                                        aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ Monthly target ] end-->
                    <!--[ target pourcentage ] starts-->
                    <div class="col-md-4 col-xl-3">
                        <div class="card monthly-target">
                            <div class="card-block">
                                <h5 class="mb-4 font-weight-bold">Target Achievement</h5>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>$ 2.942.32
                                        </h3>
                                    </div>
                                    <div class="col-3 text-right">
                                        <p class="m-b-0">36%</p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 35%;"
                                        aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ target pourcentage ] end-->





                    <div class="col-xl-7">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="font-weight-bold">Total Purchases By Month</h5>
                            </div>
                            <div class="card-block">
                                <div id="morris-line-chart" class="ChartShadow" style="height:300px"></div>
                            </div>
                        </div>
                    </div>

                    <!-- [ Top 5 Categories In purchases] start -->
                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="font-weight-bold">Top 5 Categories In Purchases</h5>
                            </div>
                            <div class="card-block">
                                <div id="morris-donut-chart" style="height:300px"></div>
                            </div>
                        </div>
                    </div>


                    <!-- [ Top 5 Categories In Sales ] end -->

                    <div class="col-sm-10">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="font-weight-bold">Top 10 Products In Sales</h5>
                            </div>
                            <div class="card-block">
                                <table class="table table-hover table-striped">
                                    <thead class="bg-c-purple">
                                        <tr style="color:white; font-size:15px">
                                            <th>Product</th>
                                            <th>Category</th>
                                            <th>Unit Purchase Price</th>
                                            <th>Total Purchases</th>
                                            <th>Total Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if purchasesProduct %} {% for i in purchasesProduct %}
                                        <tr>
                                            <td>{{i.Designation}}</td>
                                            <td>{{i.LibelleCategorie}}</td>
                                            <td>{{i.PrixAchatTTC}}</td>
                                            <td>{{i.Montant}}</td>
                                            <td>{{i.Quantity}}</td>

                                        </tr>
                                        {% endfor %} {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="card">
                            <div class="card-header">
                                <h5>Predict</h5>
                            </div>
                            <div class="card-block">
                                <div id="morris-bar-chart" style="height:300px"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}

<script src="/static/assets/plugins/chart-morris/js/raphael.min.js"></script>
<script src="/static/assets/plugins/chart-morris/js/morris.min.js"></script>
<script>
    $(document).ready(function () {
        var monthlypurchases = JSON.parse('{{ monthlypurchases | escapejs }}');
        var categoryPurchases = JSON.parse('{{ categoryPurchases | escapejs }}');
        var Fournisseur = JSON.parse('{{ Fournisseur | escapejs }}');




        var F = Object.keys(Fournisseur[1]).slice(1)
        console.log(F)






        setTimeout(function () {


            // [ Total Sales By Month ] Start
            Morris.Line({
                element: 'morris-line-chart',
                data: monthlypurchases,
                xkey: 'y',
                redraw: true,
                resize: true,
                smooth: false,
                ykeys: ['a'],
                hideHover: 'auto',
                responsive: true,
                labels: ['Purchases'],
                lineColors: ['#C8329F'],
                xLabels: 'month',
                yLabelFormat: function (y) {
                    return y.toString() + ' TND';
                }
            });
            // [ Total Sales By Month ] end
            // [ Donut-chart ] Start
 var graph = Morris.Donut({
                element: 'morris-donut-chart',
                data: categoryPurchases,
                colors: [
                    '#C83D9F',
                    '#C83DE8',
                    '#5971B8',
                    '#531263',
                     '#538A4D',
                ],
                resize: true,
                formatter: function (y, data) {
                    return y + 'TND'
                }
            });
            // [ Donut-chart ] end

            // [ bar-simple ] chart start
 Morris.Bar({
                element: 'morris-bar-chart',
                data: Fournisseur,
                xkey: 'y',
                barSizeRatio: 0.50,
                barGap: 3,
                resize: true,
                responsive: true,
                ykeys: F,
                labels: F,
                barColors: ["0-#1de9b6-#1dc4e9", "0-#899FD4-#A389D4", "#04a9f5", "#04a9f5",
                    "#04a9f5"
                ]
            });

            // [ bar-simple ] chart end

        }, 700);
    });
</script>

{% endblock javascripts %}