{% extends "layouts/base.html" %} {% block title %} Sales Performance Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<link rel="stylesheet" href="/static/assets/plugins/chart-morris/css/morris.css">

{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Sales Performance Dashboard</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Sales Performance</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!--[ year  sales section ] starts-->
                    <div class="col-md-4 col-xl-3">
                        <div class="card yearly-sales">
                            <div class="card-block">
                                <h5 class="mb-4 font-weight-bold">Total Sales</h5>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                class="feather  icon-activity text-c-green f-30 m-r-10"></i>{{ total_sales }}
                                            TND </h3>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <!--[ year  sales section ] end-->
                    <!--[ Monthly  sales section ] starts-->
                    <div class="col-md-4 col-xl-3">
                        <div class="card Monthly-sales">
                            <div class="card-block">
                                <h5 class="mb-4 font-weight-bold">Monthly Sales</h5>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>$ 2.942.32
                                        </h3>
                                    </div>
                                    <div class="col-3 text-right">
                                        <p class="m-b-0">36%</p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 35%;"
                                        aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ Monthly  sales section ] end-->

                    <!--[ Monthly target ] starts-->
                    <div class="col-md-4 col-xl-3">
                        <div class="card monthly-target">
                            <div class="card-block">
                                <h5 class="mb-4 font-weight-bold">Monthly Target</h5>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>$ 2.942.32
                                        </h3>
                                    </div>
                                    <div class="col-3 text-right">
                                        <p class="m-b-0">36%</p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 35%;"
                                        aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ Monthly target ] end-->
                    <!--[ target pourcentage ] starts-->
                    <div class="col-md-4 col-xl-3">
                        <div class="card monthly-target">
                            <div class="card-block">
                                <h5 class="mb-4 font-weight-bold">Target Achievement</h5>
                                <div class="row d-flex align-items-center">
                                    <div class="col-9">
                                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                                class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>$ 2.942.32
                                        </h3>
                                    </div>
                                    <div class="col-3 text-right">
                                        <p class="m-b-0">36%</p>
                                    </div>
                                </div>
                                <div class="progress m-t-30" style="height: 7px;">
                                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 35%;"
                                        aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--[ target pourcentage ] end-->





                    <div class="col-xl-8">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="font-weight-bold">Total Sales By Month</h5>
                            </div>
                            <div class="card-block">
                                <div id="morris-line-chart" class="ChartShadow" style="height:300px"></div>
                            </div>
                        </div>
                    </div>

                    <!-- [ Top 5 Categories In Sales ] start -->
                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="font-weight-bold">Top 5 Categories In Sales</h5>
                            </div>
                            <div class="card-block">
                                <div id="morris-donut-chart" style="height:300px"></div>
                            </div>
                        </div>
                    </div>


                    <!-- [ Top 5 Categories In Sales ] end -->

                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="font-weight-bold">Top 8 Products In Stock for 2016</h5>
                            </div>
                            <div class="card-block">
                                <table class="table table-hover table-striped">
                                    <thead class="bg-dark">
                                        <tr style="color:white; font-size:15px">
                                            <th>Product</th>
                                            <th>Old Stock</th>
                                            <th>New Stock</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if stock2016 %} {% for i in stock2016 %}
                                        <tr>
                                            <td>{{i.Designation}}</td>
                                            <td>{{i.ancien}}</td>
                                            <td>{{i.nouveau}}</td>

                                        </tr>
                                        {% endfor %} {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="card">
                            <div class="card-header">
                                <h5>Predict</h5>
                            </div>
                            <div class="card-block">
                                <div id="morris-bar-chart" style="height:300px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="card">
                            <div class="card-header">
                                <h5>Predict</h5>
                            </div>
                            <div class="card-block">
                                <div id="morris-bar-chart-2" style="height:300px"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}

<script src="/static/assets/plugins/chart-morris/js/raphael.min.js"></script>
<script src="/static/assets/plugins/chart-morris/js/morris.min.js"></script>
<script>
    $(document).ready(function () {

        var CategStock = JSON.parse('{{ CategStock | escapejs }}');
        var inout = JSON.parse('{{ inout | escapejs }}');
        var mouvements=['In','Out']

        console.log(inout);


        var categs = Object.keys(CategStock[0]).slice(1, 6);




        setTimeout(function () {


            // [ Total Sales By Month ] Start
            
            // [ Total Sales By Month ] end
            // [ Donut-chart ] Start
          
            // [ Donut-chart ] end

            // [ bar-simple ] chart start
            Morris.Bar({
                element: 'morris-bar-chart',
                data: CategStock,
                xkey: 'y',
                barSizeRatio: 0.90,
                barGap: 3,
                resize: true,
                responsive: true,
                ykeys: categs,
                labels: categs,
                barColors: ["0-#1de9b6-#1dc4e9", "0-#899FD4-#A389D4", "#04a9f5", "#04a9f5",
                    "#04a9f5"
                ]
            });
            Morris.Bar({
                element: 'morris-bar-chart-2',
                data: inout,
                xkey: 'y',
                barSizeRatio: 0.90,
                barGap: 3,
                resize: true,
                responsive: true,
                ykeys: mouvements,
                labels: mouvements,
                barColors: ["0-#1de9b6-#1dc4e9", "0-#899FD4-#A389D4", "#04a9f5", "#04a9f5",
                    "#04a9f5"
                ]
            });
            // [ bar-simple ] chart end

        }, 700);
    });
</script>

{% endblock javascripts %}